TELEGRAM_TOKEN=your_telegram_token
GEMINI_KEY=your_gemini_key
RAINFOREST_KEY=your_rainforest_key
AMZ_TAG=zhidemai0a-20
SHOPIFY_DOMAIN=your_shopify_domain
SHOPIFY_ACCESS_TOKEN=your_shopify_access_token
BLOG_ID=your_blog_id
